CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

build*/
bin
cfg/*
cmake-build*
data/
lib
*~
CMakeLists.txt.user
CMakeLists.txt.user.*

#CLion
.idea/*

# Precompiled Headers
*.gch
*.pch
